p {
    font-style:normal;
    color: white;
    font-size: 1px;
    font-size: 2em;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    font-style: normal;
    line-height: 1.5;
    text-align: justify;
    background-color: rgba(37, 32, 32, 0.295);
        
}

#body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    text-shadow: none;
}

#titulo {  
    font-family: 'PT Serif', serif;
    margin-top: 20px;
    text-align: center; 
    color: rgb(255, 255, 255);
    background-color: rgba(37, 32, 32, 0.295);
}

.header-bg {
    background-size: cover;
   background-position: center;
   opacity: 0.5; /* Ajuste a opacidade conforme desejado */
}

#nav{
    background: #f9f9f9;
}

.navbar-toggler span{
    color: red;
}

.nav-item .nav-link{
    font-size: 16px;
    font-weight: 550;
    color: #000000;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
}

.nav-item .nav-link:hover{
    background: red;
    color: rgb(223, 223, 223);
}
