body{
    background-image: url(img/papaicris.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    text-shadow: none;
    background-image: ;
}