*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}



#nav{
    background: #f9f9f9;
}

#logo{
    font-size: 36px;
    font-weight: 550;
    color: #000000;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
}

/* PINTAR LETRAS NO SEPARADOR <SPAN> */

#logosep{
    color: white;
}

.navbar-toggler span{
    color: red;
}

.nav-item .nav-link{
    font-size: 16px;
    font-weight: 550;
    color: #000000;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
}

.nav-item .nav-link:hover{
    background: red;
    color: rgb(223, 223, 223);
}



/* ----- NAVBAR -----  */

.home{
    width:100% ;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(./img/cris.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.home .conteudo{
    text-align: left;
    padding-top: 200px;
    margin-left: 200px;
}

.home .conteudo h5{
    color: white;
    font-size: 38px;
    font-weight: 500px;
    text-shadow: 0px 1px 1px black;
}

.home .conteudo h1{
    color: white;
    font-size: 70px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
}

.home .conteudo p{
    color: white;
    font-size: 15px;
    font-weight: 600;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 30px;
    margin-top: 5px;
}

.header-bg {

background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(245,0,0,1) 0%, rgba(29,108,17,1) 63%)!important;
height:80px;

}

.map {
    height: 100%;
  }
  

  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  input[type="text"] {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    line-height: 40px;
    margin-right: 0;
    min-width: 25%;
  }
  
  input[type="button"] {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    height: 40px;
    cursor: pointer;
    margin-left: 5px;
  }
  input[type="button"]:hover {
    background: rgb(235, 235, 235);
  }
  input[type="button"].button-primary {
    background-color: #1a73e8;
    color: white;
  }
  input[type="button"].button-primary:hover {
    background-color: #1765cc;
  }
  input[type="button"].button-secondary {
    background-color: white;
    color: #1a73e8;
  }
  input[type="button"].button-secondary:hover {
    background-color: #d2e3fc;
  }
  
  #response-container {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    overflow: auto;
    max-height: 50%;
    max-width: 90%;
    background-color: rgba(255, 255, 255, 0.95);
    font-size: small;
  }
  
  #instructions {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    padding: 1rem;
    font-size: medium;
  }

  .backselecao {

      background-image:('selecaoo.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  }
  
