p {
    font-style:normal;
    color: white;
    font-size: 1px;
    font-size: 2em;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    font-style: normal;
    line-height: 1.5;
    text-align: justify;
    background-color: rgba(37, 32, 32, 0.295);
        
}

body{
    background-image: url(img/selecaoo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    text-shadow: none;
}

#titulo {  
    font-family: 'PT Serif', serif;
    margin-top: 20px;
    text-align: center; 
    color: rgb(255, 255, 255);
    background-color: rgba(37, 32, 32, 0.295);
}

.header-bg {
    background-image: url('img/selecaoo.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.5; /* Ajuste a opacidade conforme desejado */
}